body
{
    background-color: lavender;
    color: black;
}

dl dt
{
    font-weight: bold;
}

body > header
{
    text-align: center;
}
body > header > h1
{
    color: maroon;
}

body > footer
{
    font-size: smaller;
    text-align: center;
}
body > footer nav ul
{
    display: block;
    padding: 0;
    width: 100%;
}
body > footer nav ul li
{
    display: inline;
    margin: 0 5em;
}
