body
{
    background-color: lavender;
    color: black;
}

dl dt
{
    font-weight: bold;
}

body > header
{
    text-align: center;
}
body > header > h1
{
    color: maroon;
}
@media (min-width: 200mm)
{
    body > header > h1:after
    {
	content: url("tetrahedron.svg") url("hexahedron.svg") url("octahedron.svg") url("dodecahedron.svg") url("icosahedron.svg");
	display: block;
    }
}

body > footer
{
    font-size: smaller;
    text-align: center;
}
body > footer nav ul
{
    display: block;
    padding: 0;
    width: 100%;
}
body > footer nav ul li
{
    display: inline;
    margin: 0 5em;
}
